<h2>View 1</h2>
<form [formGroup]="form" (ngSubmit)="upload()">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" size="30" placeholder="Name" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>
                <input type="text" size="30" placeholder="Title" formControlName="title">
            </td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td>
                <input type="text" style="width: 96%; height:150px" 
                    placeholder="Your comments in here" formControlName="comments">
            </td>
        </tr>
        <tr>
            <td>Archive:</td>
            <td>
                <input type="text" size="30" placeholder="ZIP archive of photos"
                    formControlName="archive">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" [routerLink]="['/']">Cancel</button>
                <button type="submit">Submit</button>
            </td>
        </tr>    
    </table>
</form>